{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
{% for category in category_list %}
<div class="col-3">
    <div class="card mb-4 box-shadow">

        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{category.name}}</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>Описание - {{category.description|truncatechars:100}}</li>

            </ul>

            <a href="/category/{{category.pk}}/" class="btn btn-lg btn-block btn-outline-primary">Смотреть</a>

        </div>
    </div>
</div>

{% endfor %}

{% endblock %}